<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riley Mathews</title>
</head>

<body>
    <section>
        <h1>Welcome to my demos collection</h1>
        <p>
            This is a website containing a collection of many of my Django powered applications. You can
            <a href="https://github.com/RileyMathews/django-demos">view the repository on github.</a>
            Each app is written as a self contained django app. You can view more information and try out each app
            below.
        </p>
    </section>

    <section>
        <card>
            <h3>Gamestone</h3>
            <p>A web application using React and Django REST that will let you discover new video games based on games and developers you already love!</p>
            <a href="{% url 'games' %}">Try now!</a>
        </card>
    </section>
</body>

</html>
