{% load widget_tweaks %}
<modal class="fixed inset-0 bg-gray-900 bg-opacity-70 flex justify-center items-center">
    <box class="relative bg-white rounded-lg shadow p-4">
        <form hx-post="{% url 'resource-instance-edit-hx' resource.id %}" hx-target="#resource-{{resource.id}}">
            {% csrf_token %}
            {% render_field form.current_ammount id=input_field_id class="inline w-3/4 text-center" inputmode="numeric" %}
            <input type="submit">
        </form>
    </box>
</modal>
