{% load widget_tweaks %}
<form id="resourceForm" class="flex flex-col items-center gap-2 border-4 p-1 rounded-lg border-slate-900 bg-slate-200"
    hx-post="{% url 'resource-instance-edit-hx' resource.id %}" hx-swap="outerHTML">
    {% csrf_token %}
    <div class="flex justify-center gap-1">
    <button id="minusButton-{{form.instance.id}}" type="button"
        class="text-white border-2 border-red-600 rounded-md px-2 bg-red-500">-</button>
    <input type="submit" value="✓"
        class="text-xs text-white border-2 border-green-600 rounded-md px-2 bg-green-500 cursor-pointer">
    <button id="plusButton-{{form.instance.id}}" type="button"
        class="text-white border-2 border-green-600 rounded-md px-2 bg-green-500">+</button>
    </div>
    <div class="flex justify-center gap-1">
        {% render_field form.current_ammount id=input_field_id class="inline w-3/4 text-center" inputmode="numeric" %}
    </div>
    <script>
        function setupForm() {
            const idField = document.getElementById("{{input_field_id}}")
            const plusButton = document.getElementById("plusButton-{{form.instance.id}}")
            const minusButton = document.getElementById("minusButton-{{form.instance.id}}")
            idField.focus()
            minusButton.addEventListener("click", () => {
                let integerValue = parseInt(idField.value)
                integerValue -= 1
                idField.value = integerValue
            })
            plusButton.addEventListener("click", () => {
                let integerValue = parseInt(idField.value)
                integerValue += 1
                idField.value = integerValue
            })
        }

        setupForm();
    </script>
</form>
