<div>
    <h3 class="text-lg">Rolls</h3>
    <div class="grid grid-cols-2 gap-2">
        <ul class="mb-2 p-2 border-4 rounded-lg border-slate-900">
            <h4>Roll Results</h4>
            {% for face in roll_log_data.face_counts %}
                <li class="even:bg-gray-200">
                    {{face.name}}: {{face.num_rolled}}
                </li>
            {% endfor %}
        </ul>
        <ul class="mb-2 p-2 border-4 rounded-lg border-slate-900">
            <h4>Dice Rolled</h4>
            {% for die in roll_log_data.dice_rolled %}
                <li class="even:bg-gray-200">
                    {{die.name}}: {{die.num_rolled}}
                </li>
            {% endfor %}
        </ul>
    </div>
    <ul class="p-2 border-4 rounded-lg border-slate-900">
        <h3>All Results</h3>
        {% for entry in roll_log_data.most_recent_rolls %}
        <li class="even:bg-gray-200">
            {{entry.die.name}}: {{entry.face.name}}
        </li>
        {% endfor %}
    </ul>
</div>
