{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <link rel="stylesheet" href="{% static 'resource-tracker/styles/index.css' %}">
    <script src="https://unpkg.com/htmx.org@1.8.5"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <title>Resource Tracker</title>
</head>

<body class="touch-none">
    {% include 'resource_tracker/_navbar.html' %}
    <main class="lg:container mx-auto py-2">
        {% block content %}

        {% endblock content %}
    </main>
</body>

</html>
