{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'resource-tracker/styles/index.css' %}">
    <script src="https://unpkg.com/htmx.org@1.8.5"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <title>Resource Tracker</title>
</head>

<body>
    {% include 'resource_tracker/_navbar.html' %}
    <main class="lg:container mx-auto py-2">
        {% block content %}

        {% endblock content %}
    </main>
</body>

</html>
