{% extends 'resource_tracker/base.html' %}
{% load static %}

{% block content %}
<section class="lg:container mx-auto">
    <h1>{{game_instance.name}}</h1>
    {% include 'resource_tracker/components/link.html' with text='View Template' url=game_instance.game_template.detail_url %}
    {% include 'resource_tracker/components/link.html' with text='Edit Visible Resources' url=game_instance.visible_resources_edit_url %}
    {% include 'resource_tracker/components/link.html' with text='Original UI' url=game_instance.play_url %}

    <div class="grid gap-4 grid-cols-3 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-7 2xl:grid-cols-8">
        {% for resource in resources %}
        <div class="border-4 flex flex-col items-center p-1 rounded-lg border-slate-900">
            <h5 class="text-xl">{{resource.resource_template.name}}</h5>
            <p id="ammount-{{resource.id}}" class="text-xl">{{resource.current_ammount}}</p>
            <form class="flex gap-2" hx-target="#ammount-{{resource.id}}" hx-post="{% url 'player-resource-instance-ammount-edit' resource.id %}" hx-swap="innerHTML">
                {% csrf_token %}
                <input class="text-3xl text-white border-2 border-red-600 rounded-md px-2 bg-red-500" type="submit" name="change_by" value="-1">
                <input class="text-3xl text-white border-2 border-green-600 rounded-md px-2 bg-green-500" type="submit" name="change_by" value="+1">
            </form>
        </div>
        {% endfor %}
    </div>
    <div class="grid gap-4 grid-cols-1 md:grid-cols-2">
    {% for die in dice %}
        <div class="border-4 rounded-lg border-slate-900 flex flex-col items-center">
            <span>{{die.name}}</span>
            <div class="flex flex-wrap items-center justify-between gap-2 p-1">
                {% for number in roll_options %}
                <form hx-target="#roll-log" hx-post="{% url 'htmx-roll-dice' game_instance.id die.id number %}">
                    {% csrf_token %}
                    <input class="text-white border-2 border-green-600 rounded-md px-2 bg-green-500" type="submit" value="{{number}}">
                </form>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
    <form hx-post="{% url 'archive-rolls' game_instance.id %}" hx-target="#roll-log">
        {% csrf_token %}
        <input type="submit" value="Archive Rolls" class="mb-2 text-white border-2 border-red-600 rounded-md px-2 bg-red-500">
    </form>
    <div id="roll-log">
        {% include 'resource_tracker/roll_log.html' with roll_log=roll_log %}
    </div>
</section>
{% endblock content %}
