{% extends 'resource_tracker/base.html' %}
{% load static %}

{% block content %}
    <section class="md:container mx-auto mt-4">
        <div class="flex flex-col gap-4">
            <h1 class="text-xl">{{game_instance.name}}</h1>
            <p>
                Game created from template: 
                <a href="{% url 'game-template-detail' game_instance.game_template.id %}" class="text-blue-500 hover:text-blue-800 underline">
                    {{game_instance.game_template.name}}.
                </a>
            </p>
            <group>
                <a href="{% url 'game-instance-play' game_instance.id %}" class="inline-block text-white border-2 border-sky-600 rounded-md px-2 bg-sky-500">Play now!</a>
                <a href="{% url 'game-instance-delete' game_instance.id %}" class="inline-block text-white border-2 border-red-600 rounded-md px-2 bg-red-500">Delete game</a>
            </group>
            <group id="copy_code_group">
                <p>Join code is: {{game_instance.join_code}}</p>
                <p id="join_url" class="bg-gray-200 rounded-md m-1 p-1">{{join_url}}</p>
                <a id="copy_join_code" class="text-blue-500 hover:text-blue-800 underline">Copy join url</a>
            </group>
            <group>
                <h3>Players</h3>
                <ul>
                {% for player in game_instance.players.all %}
                    <li class="odd:bg-gray-200 pl-2">{{player.name}}</li>
                {% endfor %}
                </ul>
            </group>
        </div>
    </section>
    <script>
        document.getElementById("copy_join_code").addEventListener("click", (e) => {
            const url = document.getElementById("join_url").textContent
            navigator.clipboard.writeText(url)
            const existingAlert = document.getElementById("copied_alert")
            if (!existingAlert) {
                const codeGroup = document.getElementById("copy_code_group")
                const newSpan = document.createElement("span")
                newSpan.textContent = "Copied"
                newSpan.id = "copied_alert"
                codeGroup.appendChild(newSpan)
                setTimeout(() => {
                    newSpan.remove()
                }, 5000)
            }
        })
    </script>
{% endblock content %}
