{% extends 'resource_tracker/base.html' %}
{% load static %}

{% block content %}
    <section class="md:container mx-auto mt-4">
        <div class="flex flex-col gap-4">
            <h1 class="text-xl">Game Template for {{game_template.name}}</h1>
            <div class="bg-gray-100 p-2">
                <h2 class="text-lg font-bold">Player Resources</h2>
                <ul class="flex gap-2">
                    {% for resource in game_template.player_resource_templates.all %}
                        <li class="bg-slate-300 p-2 rounded-md">
                            {{resource.name}} 
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="bg-gray-100 p-2">
                <h2 class="text-lg font-bold">Your games using this template</h2>
                {% include 'resource_tracker/components/game_instance_list.html' with game_instances=game_instances %}
            </div>
            <div class="bg-gray-100 p-2">
                <h2 class="text-lg font-bold">Dice</h2>
                <ul class="flex gap-2">
                    {% for die in game_template.special_dice.all %}
                        <li class="bg-slate-300 p-2 rounded-md">
                            <p>{{die.name}}</p>
                            {% for face in die.faces.all %}
                                <span>{{face.name}}: {{face.count}}</span>
                            {% endfor %}
                            <p>
                                {% include 'resource_tracker/components/link_button.html' with text='edit' url=die.edit_url %}
                                {% include 'resource_tracker/components/link_button.html' with text='edit faces' url=die.edit_faces_url %}
                                {% include 'resource_tracker/components/danger_button.html' with text='delete' url=die.delete_url %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="flex gap-2">
                {% include 'resource_tracker/components/link_button.html' with text='Edit Resources' url=game_template.player_resources_edit_url %}
                {% include 'resource_tracker/components/link_button.html' with text='Edit Resource Groups' url=game_template.player_resource_groups_edit_url %}
                {% include 'resource_tracker/components/link_button.html' with text='Add Die' url=game_template.special_die_create_url %}
                {% include 'resource_tracker/components/link_button.html' with text='Create Game' url=game_template.game_instance_create_url %}
                {% include 'resource_tracker/components/danger_button.html' with text='Delete Template' url=game_template.delete_url %}
            </div>
        </div>
    </section>
{% endblock content %}
