{% extends 'resource_tracker/base.html' %}
{% load static %}

{% block content %}
    <section class="md:container mx-auto mt-4">
        <div class="flex flex-col gap-4">
            <h1 class="text-xl">{{game_instance.name}}</h1>
            <group id="copy_code_group">
                <p>Join code is: {{game_instance.join_code}}</p>
                <p id="join_url" class="bg-gray-200 rounded-md m-1 p-1">{{join_url}}</p>
                <button id="copy_join_code" class="inline-block text-white border-2 border-green-600 rounded-md px-2 bg-green-500">Copy join url</button>
            </group>

            <group class="bg-gray-100 p-2">
                <h2 class="text-lg">Players</h2>
                <ul class="flex gap-2">
                {% for player in game_instance.players.all %}
                    <li class="bg-slate-300 rounded-md p-2">{{player.name}}</li>
                {% endfor %}
                </ul>
            </group>

            <group class="flex gap-2">
                <a href="{% url 'game-template-detail' game_instance.game_template.id %}" class="inline-block text-white border-2 border-green-600 rounded-md px-2 bg-green-500">
                    View Template
                </a>
                <a href="{% url 'game-instance-play' game_instance.id %}" class="inline-block text-white border-2 border-green-600 rounded-md px-2 bg-green-500">Play now!</a>
                <a href="{% url 'game-instance-delete' game_instance.id %}" class="inline-block text-white border-2 border-red-600 rounded-md px-2 bg-red-500">Delete game</a>
            </group>

        </div>
    </section>
    <script>
        document.getElementById("copy_join_code").addEventListener("click", (e) => {
            const url = document.getElementById("join_url").textContent
            navigator.clipboard.writeText(url)
            const existingAlert = document.getElementById("copied_alert")
            if (!existingAlert) {
                const codeGroup = document.getElementById("copy_code_group")
                const newSpan = document.createElement("span")
                newSpan.textContent = "Copied"
                newSpan.id = "copied_alert"
                codeGroup.appendChild(newSpan)
                setTimeout(() => {
                    newSpan.remove()
                }, 1000)
            }
        })
    </script>
{% endblock content %}
