{% extends 'resource_tracker/base.html' %}
{% block content %}
<section class="md:container mx-auto mt-4">
    <div class="flex flex-col gap-4">
        <h1 class="text-xl">Resource Tracker</h1>
        <group class="flex flex-wrap gap-2">
            {% include 'resource_tracker/components/link_button.html' with text='Join a game' url=game_instance_search_url %}
            {% include 'resource_tracker/components/link_button.html' with text='Create a new Game' url=game_template_create_url %}
        </group>
        <group class="bg-gray-100 p-2">
            <h3 class="text-lg">Game Templates</h3>
            <ul class="flex gap-2">
                {% for template in game_templates %}
                    <li class="bg-slate-300 p-2 rounded-md">
                        {% include 'resource_tracker/components/link.html' with text=template.name url=template.detail_url %}
                    </li>
                {% endfor %}
            </ul>
        </group>
        <group class="bg-gray-100 p-2">
            <h3 class="text-lg">Your Game Rooms</h3>
            {% include 'resource_tracker/components/game_instance_list.html' with game_instances=owned_game_instances %}
        </group>
        <group class="bg-gray-100 p-2">
            <h3 class="text-lg">Games you play in!</h3>
            {% include 'resource_tracker/components/game_instance_list.html' with game_instances=playing_game_instances %}
        </group>
    </div>
</section>
{% endblock content %}
